body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    line-height: 1.5;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, p { 
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.contacts,
.link,
.link-active,
address {
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 216px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
}

h2, h3 {
    color: #2E2F42;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.link,
.link-active {
    text-decoration: none;
    color: #434455;
    font-style: normal;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2E2F42;
}

.first-section {
    font-weight: 700;
    color: #FFFFFF;
    background-color: #2E2F42;
    padding-top: 72px;
    padding-bottom: 72px;
    margin: 0 auto;
    max-width: 320px;
    text-align: center;
}

.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    border: none;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
} 

.first-section {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/First-section-background-mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
    outline: none;
}

.second-section .container {
    padding-top: 96px;
    padding-bottom: 96px;
    max-width: 320px;
    margin: 0 auto;
}

.second-section .container .features {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-section svg {
    display: none;
}

.second-section h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.second-section p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team .container {
    background-color: #F4F4FD;
    padding: 96px 28px;
}

.team  h2 {
    margin-bottom: 72px;
    text-align: center;
}

.team li {
    background-color: #FFFFFF;
}

.team h3,
.team p {
    text-align: center;
}

.team .container .team-members {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 72px;
}

.team .container .team-members>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 264px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team .container .team-members li .team-content {
    padding: 32px 16px;
}

.team .container .team-members li h3 {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team .container .team-members li p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.socials-icon {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}

.socials-link {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-section .container {
    padding: 96px 16px;
    background-color: #FFFFFF;
}

.portfolio-section h2 {
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-section h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-section .container .portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 48px;
}

.portfolio-section .container .portfolio li {
    display: flex;
    flex-direction: column;
    max-width: 288px;
}

.portfolio-section .container .portfolio li .portfolio-content {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-section .container .portfolio li h3 {
    margin-bottom: 8px;
}

.portfolio-section .container .portfolio li p {
    margin: 0;
}

.portfolio-section .portfolio li {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section .portfolio li:hover .overlay {
    transform: translateY(0);
}

.portfolio-section .portfolio li {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-section .container .portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #F4F4FD;
}


.footer {
    
}

.footer .container {
    max-width: 320px;
    font-weight: 400;
    color: #F4F4FD;
    background-color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 96px 16px;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.footer .logo {
    color: #F4F4FD
}

.accent {
    color: #4D5AE5;
}

.footer-text {
    display: flex;
    flex-direction: column;
    width: 288px;
    row-gap: 16px;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: center;
}

.socials-footer {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: row;
}

footer .socials-icon {
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
}

.socials-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
    background-color: #404BBF;
}

footer .socials-link:hover,
footer .socials-link:focus {
    background-color: #31D0AA;
}

.footer .logo,
.footer .social-media p {
    align-self: center;
}

.footer .social-media p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.subscribe {
    max-width: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-form {
    width: 288px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subscribe-field {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    max-width: 288px;
}

.subscribe button {
    max-width: 165px;
    padding: 8px 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.plane {
    fill: #F4F4FD;
}

.subscribe input {
    width: 288px;
    height: 40px;
    background-color: #2E2F42;
    color: #F4F4FD;
    border-color: #F4F4FD;
}

.subscribe > p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.subscribe input {
    outline: none;
    padding-left: 16px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe input::placeholder {
    color: #FFFFFF;
}

.subscribe input:focus {
    border-color: #31D0AA;
}

.subscribe button:hover,
.subscribe button:focus {
    background-color: #31D0AA;
}

.subscribe-button {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    flex-direction: row;
    background-color: #4D5AE5;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
}

.subscribe-field input::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
}

.subscribe-button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-size: 16px;
}

@media (min-resolution: 291dpi) {
            .first-section {
                background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                 url(../images/First-section-background-mobile@2.png);
            }
        }
